name: Update Oktagon Calendar

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install requests beautifulsoup4 pytz

      - name: Generate calendar
        run: python generate_calendar.py

      - name: Commit calendar
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add oktagon_kalender.ics
          git commit -m "Auto update calendar" || echo "No changes"
          git push
